/* BASIC STYLES */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  background-color: #ffffff;
}


/* Containers */

.container {
  width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Page Layouts */

.main-index{
  flex-grow: 1;
}

/* ELEMENTS */

/* Buttons */

.button {
  all: unset;
  position: relative;
  display: inline-flex;
  width: fit-content;
  border: 1px solid #23a6f0;
  border-radius: 37px;
  font-size: 14px;
  line-height: 200%;
  color: #23a6f0;
  padding: 15px 30px;
  padding-right: 49px;
}

.button::before {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #23a6f0;
  border-right: 2px solid #23a6f0;
  transform: rotate(45deg) translateY(-50%);
  content: "";
}

.button:hover {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
}

.button:active {

}

.button:focus-visible {

}

.button:disabled {

}

/* Form Fields */

.form-field {
  padding: 14px 16px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  outline: 1px solid var(--basic-neutral);
}

.form-field::placeholder {
  color: var(--basic-neutral);
  font: inherit;
}

.form-field:hover {
  outline-color: var(--basic-extra-dark);
}

.form-field:focus-visible {
  outline: 2px solid var(--basic-extra-dark);
  border-color: transparent;
}

.form-field-is-invalid{
  outline-width: 1px;
  outline-color: var(--status-error);
}

.form-field-is-invalid:hover {
  outline-width: 2px;
  outline-color: var(--status-error);
}

.form-field:disabled {
  background-color:var(--basic-light);
  color: rgba(45, 52, 64, 0.65);
}

.form-field:disabled::placeholder {
  color: rgba(45, 52, 64, 0.65);
}

.form-field:disabled:hover {
  color: var(--basic-extra-dark);
  background-color:var(--basic-light);
  outline-color: var(--basic-neutral);
}

.form-field:disabled:hover::placeholder {
  color: var(--basic-extra-dark);
}

/* Titles */

.title,
.subtitle,
.title-3,
.title-4,
.title-5,
.title-6 {
  margin: 0;
  color: var(--basic-extra-dark);
  font-style: normal;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.subtitle {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.title-3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.title-4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Header & Footer */

.header {
  background-color: #000000;
}

.header-wrapper,
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}

/* Logo */

.logo-text {
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Navbar */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  padding: 20px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

[aria-current="page"] {
  opacity: 0.6;
}

.nav-link:hover {
  opacity: 0.6;
  transition: .3s ease-in-out;
}

.nav-link:active {
  opacity: 0.3;
}

/* Hero Section */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 720px;
  padding: 10px 20px;
  padding-bottom: 40px;
  background-image: url("images/macbook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -50px center;
}

.hero-section-wrapper {
  max-width: 50%;
}

.hero-section-header {
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Project mission */

.about-us {
  padding: 50px 0px;
}

.goal-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goal-item {
  max-width: 48%;
  padding: 25px 2px;
}

.goal-item-wrapper {
  padding-left: 92px;
}

.goal-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.goal-text {
  margin: 0;
}

/* Educational courses */

.educational-courses {
  padding: 50px 0;
}

.bootcamps-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #131726;
  text-transform: uppercase;
}

.bootcamp-list,
.course-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
}

.bootcamp-card-wrapper,
.course-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bootcamp-card-link,
.course-card-link {
  margin-top: auto;
}

/* Social list */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-link {
  padding: 20px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

